* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: url(/images/background.svg) 0 bottom no-repeat;
  background-size: 100vw;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  color: crimson !important;
}

.btn:hover {
  color: crimson !important;
}

.nav-link {
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grey:hover {
  background-color: rgb(248, 249, 250);
  transition: all 0.2s ease-in;
}

h1 {
  color: 15px;
  font-weight: 800;
}

.hint-text {
  font-size: 0.7rem;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control:focus,
.form-check-input:focus,
.form-select:focus {
  border-color: crimson;
  box-shadow: 0 0 0 0.2rem rgba(220, 20, 60, 0.25);
}

.form-check-input:checked {
  border-color: crimson;
  background-color: crimson;
}

.logo {
  max-width: 50%;
}

.error {
  color: red;
  font-weight: 500;
  font-size: small;
}

svg {
  fill: darkred;
}
