<main class="w-100 m-auto">
  <div class="container">
    <h1>Something went wrong</h1>
    <br />
    <h4>Please go to Home page
    </h4>
    <div>
      <a href="/dashboard" class="btn btn-secondary bg-dark">Home</a>
    </div>
  </div>

</main>