<main class="form-signin w-100 m-auto">
  <div class="text-center">
    <img
      class="mx-auto d-block logo"
      src="/images/logo-transparent.png"
      alt="house logo"
    />
  </div>
  <h1>{{appTitle}}</h1>

  <div>
    <a
      href="/auth/signup"
      class="w-100 btn btn-lg fw-bold border-dark bg-white mt-5"
    >Sign Up</a>
  </div>
  <div class="">
    <a
      href="/auth/login"
      class="w-100 btn btn-lg btn-secondary fw-bold border-dark bg-dark mt-3"
    >Login</a>
  </div>
</main>