<main class="w-100 m-auto">
  <div class="container">
    <h1>404 Error</h1>
    <h4>Page not Found!
      <br />
      Check if everything is ok!
      <br />
      Check your routes to see what might have happened!
    </h4>
  </div>
</main>