<main class="w-100 m-auto">
  <div class="container p-4 text-start">
    <h4 class="fw-bold">Tenants</h4>
    <div class="row w-100 p-3 m-auto border shadow-sm rounded bg-white">
    </div>
  </div>
</main>