<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <p><a href="/auth/userProfile"> Profile </a></p>
        </li>
        <li>
          <a href="/auth/signup">Signup</a>
          <span> | </span>
          <a href="/auth/login">Login</a>
          <span> | </span>
          <a href="/auth/logout">Logout</a>
        </li>
        <li><a href="/property/">properties</a></li>
        <li><a href="/property/create">new property</a></li>
      </ul>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>