<main class="form-signin w-100 m-auto">
  <h1>Welcome!</h1>
  <h4>Register your account</h4>

  <form action="/auth/signup" method="POST">

    <input
      type="email"
      class="form-control"
      name="username"
      placeholder="Email"
      required
    />

    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
      required
    />

    <button
      type="submit"
      class="w-100 btn btn-lg fw-bold border-dark bg-white mt-5"
    >Sign Up</button>
  </form>

  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}

</main>

<div>
  <p><small>Already have an account?
      <br />
      <a href="/auth/login">Please Sign in</a>
    </small></p>
</div>